<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Domicilios</title>
</head>
<body>
	
	<div>
		<a href="{% url 'home' %}"><strong>VOLVER AL HOME</strong></a>
	</div>
	<h2>Domicilios</h2>
	<div>
		<strong>Número de Domicilios:</strong> {{no_domicilios}}
	</div>
<br/>
	<div>
		
	</div>

	<div>
		<table border="1">
			<thead>
				<th colspan="7"><a href="nuevo_domicilio"><strong>AGREGAR DOMICILIO</strong></a></th>
				<tr>
					<th>ID:</th>
					<th>Calle</th>
					<th>N° de Calle</th>
					<th>País</th>
					<th>Ver</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				{% for domicilio in domicilios %}
				<tr>
					<td>{{domicilio.id}}</td>
					<td>{{domicilio.calle}}</td>
					<td>{{domicilio.no_calle}}</td>
					<td>{{domicilio.pais}}</td>
					<td><a href="detalle_domicilio/{{domicilio.id}}">Ver</a></td>
					<td><a href="editar_domicilio/{{domicilio.id}}">Editar</a></td>
					<td><a href="eliminar_domicilio/{{domicilio.id}}">Eliminar</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
<div>
<br/>
	<h4>Los ID pueden cambiar dependiendo de las pruebas que se realicen</h4>
</div>


</body>
</html>