<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Detalle Domicilio</title>
</head>
<body>

<h2><strong>Sistema de Administración de Personas</strong></h2>

	<table border="1">
		<thead>
			<tr>
				<th colspan="2">Detalle Domicilio</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong>ID Domicilio:</strong></td>
				<td>{{domicilio.id}}</td>
			</tr>
			<tr>
				<td><strong>Calle:</strong></td>
				<td>{{domicilio.calle}}</td>
			</tr>
			<tr>
				<td><strong>N° de Calle:</strong></td>
				<td>{{domicilio.no_calle}}</td>
			</tr>
			<tr>
				<td><strong>País:</strong></td>
				<td>{{domicilio.pais}}</td>
			</tr>
		</tbody>
	</table>
<br/>
<div>
	<a href="/domicilios"><strong>VOLVER A DOMICILIOS</strong></a>
</div>

</body>
</html>