<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Editar Persona</title>
</head>
<body>

<h2><strong>Sistema de Administración de Personas</strong></h2>

	<form method="POST">
		<table>
			<thead>
				<tr>
					<th colspan="100%">Editar Domicilio</th>
				</tr>
				
			</thead>
				<tbody>
					<tr>
						<td>{{formaDomicilio}}</td>
					</tr>
				</tbody>
		</table>
		<br/>
		<button type="submit">EDITAR</button>
		{% csrf_token %}
	</form>
<br/>
<div>
	<a href="/domicilios"><strong>VOLVER A DOMICILIOS</strong></a>
</div>

</body>
</html>