<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nuevo Persona</title>
</head>
<body>

<div>
	<a href="{% url 'home' %}"><strong>VOLVER AL HOME</strong></a>
</div>

<h2><strong>Sistema de Administración de Personas</strong></h2>

	<form method="POST">
		<table>
			<thead>
				<tr>
					<th colspan="100%">Nueva Persona</th>
				</tr>
			</thead>
				<tbody>
					<tr>
						<td>{{formaPersona}}</td>
					</tr>
				</tbody>
		</table>
		<br/>
		<button type="submit">NUEVO</button>
		{% csrf_token %}
	</form>

</body>
</html>